<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back" size="large"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center mode="ios"><h2>Favourites</h2></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card >
      <!-- <ion-card-header>
        <ion-card-title>Oatmeal</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="4">
            <img src="assets/images/fruits.jpg"/>
          </ion-col>
          <ion-col size="6">
            <div class="container">
                 <ion-row size="4">
                <b>Oatmeal</b>
              </ion-row>
              <ion-row size="4">
                <b>200g <ion-icon name="chevron-down"></ion-icon></b>
              </ion-row>
              <ion-row size="4">
                <b>&#8377;170.00</b>
            </ion-row> 
            </div>
        
          </ion-col>
          <ion-col size="2" class="ion-text-right">
          
            <ion-button fill="clear" >
              <ion-icon name="cart" size="large"></ion-icon>
            </ion-button>
                
              
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card >
      <!-- <ion-card-header>
        <ion-card-title>Oatmeal</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="4">
            <img src="assets/images/fruits.jpg"/>
          </ion-col>
          <ion-col size="6">
            <div class="container">
                 <ion-row size="4">
                <b>Oatmeal</b>
              </ion-row>
              <ion-row size="4">
                
                <b>200g 
                  <ion-icon name="chevron-down"></ion-icon>
                </b>
                
              </ion-row>
              <ion-row size="4">
                <b>&#8377;170.00</b>
            </ion-row> 
            </div>
        
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <ion-button fill="clear" >
              <ion-icon name="cart" size="large"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card >
      <!-- <ion-card-header>
        <ion-card-title>Oatmeal</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="4">
            <img src="assets/images/fruits.jpg"/>
          </ion-col>
          <ion-col size="6">
            <div class="container">
                 <ion-row size="4">
                <b>Oatmeal</b>
              </ion-row>
              <ion-row size="4">
                <b>200g <ion-icon name="chevron-down"></ion-icon></b>
              </ion-row>
              <ion-row size="4">
                <b>&#8377;170.00</b>
            </ion-row> 
            </div>
        
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <ion-button fill="clear" >
              <ion-icon name="cart" size="large"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>