<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="notifications-circle"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center mode="ios"><h2>Store Name</h2></ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding"> 
  <ion-toolbar> 
    <ion-buttons slot="start">
       <div class="header">
    <h1>Categories</h1>
  </div>
    </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button >
      <ion-icon slot="icon-only" name="logo-whatsapp" color="success"></ion-icon>
    </ion-button>
    
  </ion-buttons>

</ion-toolbar>
 
  <div id="container" >
    <ion-card text-center >
      <img src="assets/images/fruits.jpg"/>
     <h3>Fruits </h3>
    </ion-card>
    <ion-card>
      <img src="assets/images/veggies.jpg"/>
      <h3>Vegetables</h3>
    </ion-card>
    <ion-card style="box-shadow: none !important;">
      <img src="assets/images/dairy.jpg"/>
      <h3>Dairy</h3>
    </ion-card>
    <ion-card>
      <img src="assets/images/meat.jpg"/>
      <h3>Meat</h3>
    </ion-card>
    <ion-card>
      <img src="assets/images/snacks.jpg"/>
      <h3>Snacks</h3>
    </ion-card>
    <ion-card>
      <img src="assets/images/pcare.jpg"/>
      <h3>Personal Care</h3>
    </ion-card>
    <ion-card>
      <img src="assets/images/mcare.jpg"/>
      <h3>Medical Care</h3>
    </ion-card>
    <ion-card>
      <img src="assets/images/hcare.jpg"/>
      <h3>Health Care</h3>
    </ion-card>

  </div>
</ion-content>