ion-icon {
    color: #FF427F;
  }
 
  img{
    border-radius: 15px;
    height: 80px;
    width: 80px;
  }

  ion-card{
    border-radius: 15px;
    box-shadow: none;
    background-color: #F2F2F2;
  }