<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back" size="large"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center mode="ios"><h2>Cart</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-card >
      <!-- <ion-card-header>
        <ion-card-title>Oatmeal</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <div class="container">
          <ion-row>
            <ion-col size="4">
               <img src="assets/images/oatmeal.jpg"/>
            </ion-col>
            <ion-col size="4">
              <div class="container">
                 <ion-row size="4">
                <b>Oatmeal</b>
              </ion-row>
              <ion-row size="4">
                <b>200g <ion-icon name="chevron-down"></ion-icon></b>
              </ion-row>
              <ion-row size="4">
                <b>&#8377;170.00</b>
            </ion-row> 
            </div>
            </ion-col>
            <ion-col size="4" class="range-class">
              <ion-buttons >
                <button ion-button icon-only clear outline>
                  <ion-icon name="remove-circle" size="large"></ion-icon>
                </button>
                <span>1</span>
                <button ion-button icon-only clear outline>
                  <ion-icon name="add-circle" size="large"></ion-icon>
                </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </div> 
      </ion-card-content>
    </ion-card>
    <ion-card >
      <!-- <ion-card-header>
        <ion-card-title>Oatmeal</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <div class="container">
          <ion-row>
            <ion-col size="4">
               <img src="assets/images/cheese.jpg"/>
            </ion-col>
            <ion-col size="4">
              <div class="container">
                 <ion-row size="4">
                <b>Cheese</b>
              </ion-row>
              <ion-row size="4">
                <b>100g <ion-icon name="chevron-down"></ion-icon></b>
              </ion-row>
              <ion-row size="4">
                <b>&#8377;330.00</b>
            </ion-row> 
            </div>
            </ion-col>
            <ion-col size="4" class="range-class">
              <ion-buttons >
                <button ion-button icon-only clear outline>
                  <ion-icon name="remove-circle" size="large"></ion-icon>
                </button>
                <span>1</span>
                <button ion-button icon-only clear outline>
                  <ion-icon name="add-circle" size="large"></ion-icon>
                </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </div> 
      </ion-card-content>
    </ion-card>
    <ion-card >
      <!-- <ion-card-header>
        <ion-card-title>Oatmeal</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <div class="container">
          <ion-row>
            <ion-col size="4">
               <img src="assets/images/choco bar.jpg"/>
            </ion-col>
            <ion-col size="4">
              <div class="container">
                 <ion-row size="4">
                <b>Chocolate Bars</b>
              </ion-row>
              <ion-row size="4">
                <b>60g <ion-icon name="chevron-down"></ion-icon></b>
              </ion-row>
              <ion-row size="4">
                <b>&#8377;107.00</b>
            </ion-row> 
            </div>
            </ion-col>
            <ion-col size="4" class="range-class" >
              <ion-buttons >
                <button ion-button icon-only clear outline>
                  <ion-icon name="remove-circle" size="large"></ion-icon>
                </button>
                <span>1</span>
                <button ion-button icon-only clear outline>
                  <ion-icon name="add-circle" size="large"></ion-icon>
                </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </div> 
      </ion-card-content>
    </ion-card>
    <ion-card >
      <!-- <ion-card-header>
        <ion-card-title>Oatmeal</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <div class="container">
          <ion-row>
            <ion-col size="4">
               <img src="assets/images/wine.jpg"/>
            </ion-col>
            <ion-col size="4">
              <div class="container">
                 <ion-row size="4">
                <b>Wine</b>
              </ion-row>
              <ion-row size="4">
                <b>100ml <ion-icon name="chevron-down"></ion-icon></b>
              </ion-row>
              <ion-row size="4">
                <b>&#8377;710.00</b>
            </ion-row> 
            </div>
            </ion-col>
            <ion-col size="4" class="range-class" >
              <ion-buttons >
                <button ion-button icon-only clear outline>
                  <ion-icon name="remove-circle" size="large"></ion-icon>
                </button>
                <span>1</span>
                <button ion-button icon-only clear outline>
                  <ion-icon name="add-circle" size="large"></ion-icon>
                </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </div> 
      </ion-card-content>
    </ion-card>
  </ion-list>
 <ion-row>
   <ion-col>No.of items</ion-col>
   <ion-col>4</ion-col>
 </ion-row>
     
<br>

<ion-row>
  <ion-col>Subtotal</ion-col>
  <ion-col>&#36;133.00</ion-col>
</ion-row>
        
     <br>
     <ion-row>
      <ion-col>Total</ion-col>
      <ion-col>&#36;166.00</ion-col>
    </ion-row>
    
      <ion-button expand="block" color="danger">Checkout</ion-button>
   

   
</ion-content>


